@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Rubik', sans-serif;
}

.remote-peer-connected {
  width: 100px !important;
  top: 16px;
  right: 16px;
  height: auto;
}
